.homepage {
  display: flex;
  padding: 2rem;
  background-color: #1e1e1e;
  height: 100vh;
  width: 100%;
}
.left {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
}
.firstPart {
  display: flex;
  justify-content: space-between;
  height: 70%;
  width: 100%;
  gap: 2rem;
}
.timer {
  height: 30%;
}
.timer > img {
  height: 100%;
  width: 100%;
}
.secondPart {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.profile {
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #5746ea;
  border-radius: 15px;
  gap: 3rem;
}
.profile > img {
  width: 100px;
  height: 100%;
}
.profileDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}
.information {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: white;
  font-size: 20px;
}
.username {
  font-size: 30px;
}

.notes {
  height: 100%;
  background-color: #f1c75b;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  width: 350px;
  max-width: 350px;
  max-height: 440px;
  padding: 1rem 2rem;
  cursor: pointer;
}
.notes > .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notes > .heading > h1 {
  font-weight: 500;
}
.notesContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
}
.notesContainer > p {
  word-spacing: 5px;
  color: black;
}
#note {
  background-color: transparent;
  color: black;
  outline: none;
  font-size: 20px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  border: none;
  resize: none;
}
.newsContainer {
  width: 30%;
  border-radius: 15px;
  overflow-y: auto;
  height: 100%;
}
.news {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  height: fit-content;
  background-color: white;
}
.imageContainer {
  position: relative;
  color: white;
  height: 300px;
}
.imageContainer > img {
  width: 100%;
  height: 300px;
  border-radius: 15px 15px 0px 0px;
}
.titleDiv {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  background-color: #0000009e;
  padding: 1rem 2rem;
  font-size: 20px;
  word-spacing: 2px;
}
.content {
  padding: 1rem 2rem;
}
.content > p {
  font-size: 20px;
  word-spacing: 5px;
  line-height: 30px;
}
