.container {
  padding: 0 2rem;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.title {
  text-decoration: none;
  color: #72db73;
  font-family: "Single Day", cursive;
  font-size: 25px;
}
.header > img {
  width: 60px;
  cursor: pointer;
}
.movieContainer {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.movieContainer > p {
  color: white;
  font-size: 20px;
  font-family: "Single Day", cursive;
}
.movieCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.movieType {
  color: #878787;
}
.imagesDiv {
  display: flex;
  justify-content: space-between;
}
.posterDiv {
  margin-bottom: 20px;
}
.posterDiv > img {
  width: 300px;
  height: 200px;
  border-radius: 15px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.posterDiv > img:hover {
  transform: scale(1.05);
}
